.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.apt.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
.vscode/launch.json
.vscode/settings.json
target/online-kafka-video-producer-1.0-SNAPSHOT.jar
target/classes/application.yaml
target/classes/com/ar/jorge/newbery/App.class
target/classes/com/ar/jorge/newbery/BlockingServlet.class
target/classes/com/ar/jorge/newbery/Mongo.class
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/surefire-reports/com.ar.jorge.newbery.AppTest.txt
target/surefire-reports/TEST-com.ar.jorge.newbery.AppTest.xml
target/test-classes/com/ar/jorge/newbery/AppTest.class
.classpath
.project
